/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*@import "compass/reset";*/
@import "compass/css3";

/*@include font-face("Glober Thin", font-files("../assets/Glober/GloberLight.ttf"));*/
@font-face{
  font-family: "Glober Thin";
  src: url("../assets/Glober/GloberThin.ttf") format("truetype");
}
@font-face{
  font-family: "Glober light";
  src: url("../assets/Glober/GloberLight.ttf") format("truetype");
}
@font-face{
  font-family: "Glober Regular";
  src: url("../assets/Glober/GloberRegular.ttf") format("truetype");
}



$header-font: Helvetica, sans-serif;
$blue: #0099cc; 
$dark-grey: #424242;
$light-grey: #e5e5e5;


$font-thin: "Glober Thin";
$font-light: "Glober Light";
$font-regular: "Glober Regular";


div#header-placeholder {
    height: 100px;
    background-color: #e5e5e5;
}

h1 {
  font-size: 40px;
  font-family: $font-light;
}

h2 {
  font-size: 20px;
  font-family: $font-light;
  line-height: 30px;
}

h3 {
  font-size: 18px;
  font-family: $font-light;
  line-height: 30px;
}

p {
  font-size: 13px;
  font-family: $font-light;
   line-height: 25px;
}


.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}


body#big-doha-picture {
  background: url("../assets/background.png") no-repeat center center fixed;
  z-index: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*  background-color: black;
  opacity: 0.75;*/
}


/* Take a tour start *************************************************************************/
       @font-face {
        font-family: 'weather';
        src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
        src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
             url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
             url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
             url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    i {
      color: black;
      font-family: weather;
      font-size: 150px;
      font-weight: normal;
      font-style: normal;
      line-height: 1.0;
      padding-bottom: 0px;
    }

    .icon-0:before { content: ":"; }
    .icon-1:before { content: "p"; }
    .icon-2:before { content: "S"; }
    .icon-3:before { content: "Q"; }
    .icon-4:before { content: "S"; }
    .icon-5:before { content: "W"; }
    .icon-6:before { content: "W"; }
    .icon-7:before { content: "W"; }
    .icon-8:before { content: "W"; }
    .icon-9:before { content: "I"; }
    .icon-10:before { content: "W"; }
    .icon-11:before { content: "I"; }
    .icon-12:before { content: "I"; }
    .icon-13:before { content: "I"; }
    .icon-14:before { content: "I"; }
    .icon-15:before { content: "W"; }
    .icon-16:before { content: "I"; }
    .icon-17:before { content: "W"; }
    .icon-18:before { content: "U"; }
    .icon-19:before { content: "Z"; }
    .icon-20:before { content: "Z"; }
    .icon-21:before { content: "Z"; }
    .icon-22:before { content: "Z"; }
    .icon-23:before { content: "Z"; }
    .icon-24:before { content: "E"; }
    .icon-25:before { content: "E"; }
    .icon-26:before { content: "3"; }
    .icon-27:before { content: "a"; }
    .icon-28:before { content: "A"; }
    .icon-29:before { content: "a"; }
    .icon-30:before { content: "A"; color:#f1bc42}
    .icon-31:before { content: "6"; }
    .icon-32:before { content: "1"; }
    .icon-33:before { content: "6"; }
    .icon-34:before { content: "1"; color:#f1bc42}
    .icon-35:before { content: "W"; }
    .icon-36:before { content: "1"; }
    .icon-37:before { content: "S"; }
    .icon-38:before { content: "S"; }
    .icon-39:before { content: "S"; }
    .icon-40:before { content: "M"; }
    .icon-41:before { content: "W"; }
    .icon-42:before { content: "I"; }
    .icon-43:before { content: "W"; }
    .icon-44:before { content: "a"; }
    .icon-45:before { content: "S"; }
    .icon-46:before { content: "U"; }
    .icon-47:before { content: "S"; }


    #weather {
      width: 500px;
      margin: 0px auto;
      text-align: center;
      text-transform: uppercase;
      color: black;
        h2 {
        color: white;
        font-size: 140px;
        font-weight: 300;
        text-align: left;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        }
        ul {
        margin: 0;
        padding: 0;
        }
        li {
        background: black;
        background: rgba(255,255,255,0);
        padding: 20px;
        display: inline-block;
        border-radius: 5px;
        }
      }
    div#current-situation {
      padding-top: 65px;
      color: white;
      font-family: $font-light;
  }
    div#weather-icon {
      width: 50px;
          } 
    div#weather-info {
      bottom: 0;
      position: fixed;
      padding-bottom: 80px;
}
/* Take a tour end  *************************************************************************/


/* about start *************************************************************************/
div#mac-photo {
    background: linear-gradient(to right bottom, $blue 50%, #FFFFFF 50%);
    height: 600px;

    div#mac-ipad-image {
      text-align: center;
      
      img {
        height: 350px;
        margin-top: 135px;
    }
}
}
.icon{
  svg#Layer_1 {
    width: 65px;
    .st0 {
      fill:none;
      stroke:#0099CC;
      stroke-miterlimit:10;
         }
    }
    .hand-image {
    width: 16px;
    margin-left: 25px;
    margin-top: -49px;
}
}

  div#v-header{
    padding-top: 20px;
  }

  div#v-header-2 {
    padding-bottom: 10px;
  }


div#feature {
    padding-top: 10px;
  }

span {
    display: inline-block;
    width: 0;
    height: 3em;
    border-left: 3px solid #0099cc;
    margin-top: 50px;
    margin-bottom: -66px;
    margin-left: 10px;
}
/* about end *************************************************************************/


/* Collections start *************************************************************************/
div#collections-title-section {
    text-align: center;
    padding-top: 20px;
}

h1#collections-title {
    margin-bottom: -20px;
}

div#enquire-button {
    padding-top: 20px;
}

button.enquire-now-button {
    font-size: 12;
    color: 505050;
    background-color: #f1bc42;
    border: 0px;
    width: 100;
    height: 40;
}



/******************hexagon*****************************/

.collection-slide-1 > .hexagon {
  background-image: url(http://csshexagon.com/img/meow.jpg);
}

.collection-slide-2 > .hexagon {
  background-image: url(http://csshexagon.com/img/meow.jpg);
}

.collection-slide-3 > .hexagon {
  background-image: url(http://csshexagon.com/img/meow.jpg);
}

.hexagon {
  position: relative;
  width: 90px; 
  height: 51.96px;
  margin: 25.98px 0;
  background-size: auto 103.9230px;
  background-position: center;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 63.64px;
  height: 63.64px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 13.18px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 90.0000px;
  height: 51.96152422706632px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-25.9808px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-25.9808px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-25.9808px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -31.8198px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -31.8198px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 90.0000px;
  height: 51.9615px;
  z-index: 2;
  background: inherit;
}

svg.collection-hexagon {
    width: 110px;
    margin-top: -116px;
    margin-left: -10px;
}
.owl-wrapper-outer {
    padding-top: 85px;
    padding-left: 10px;
}

div#owl-demo {
    padding-left: 220px;
    padding-right: 110px;
}

/* Collections end *************************************************************************/




/* Review start *************************************************************************/
div#overlay{
background-color:Black;
opacity:0.5;
height: 100%;
width: 100%;
position: absolute;
}

.carousel {
    position: relative;
    text-align: center;

    img{
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }
}

.carousel-photo {
    padding-bottom: 50px;
}

div#contact-info > h2 {
    line-height: 1;
    text-align: center;
}

 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      margin: auto;
  }
div#myCarousel {
    text-align: center;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 250px;
    .item{
    padding-bottom: 100px;
    }
  .name {
      color: white;
    }
  .quote {
      color: white;
  }
}
/* Review end *************************************************************************/



/* Contact start *************************************************************************/
.form-control::-webkit-input-placeholder { color: #0096ff; font-family: $font-light; }
.form-control:-moz-placeholder { color: #0096ff; font-family: $font-light;}
.form-control::-moz-placeholder { color: #0096ff; font-family: $font-light;}
.form-control:-ms-input-placeholder { color: #0096ff; font-family: $font-light;}


div#form-container {
    margin: 0 auto;
}


h2#subscribe {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: $blue;
}

div#exampleInputEmail1{
  color: #0096ff;
}

input#first-name, input#last-name,input#exampleInputEmail1 {
    background: rgba(0,153,255,0.1);
    border: 0px !important;
}

.form-group {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}
div#form-container {
    text-align: center;
    text-align: center;
    border: solid;
    border-width: 1px; 
    border-color: #e5e5e5;
    margin-top: 50px;
    width: 380px;
    background-color: white;
}

form{
  padding-left: 15px;
  padding-right: 15px;
}
div#form{
  padding-top: 105px;
  z-index: 1;
  position: relative;
}
.form-control{
  border-radius: 0px !important;
}
.form-hex{
  fill:#FFFFFF;
  stroke:#E5E5E5;
  stroke-miterlimit:10;
}
.form-hex-inner{
  fill:#0099CC;
}

div#form-top-icon > svg#Layer_1 {
    width: 40px;
    margin-top: -21px;
}

div#form-top-icon {
    margin-bottom: -25px;
    z-index: 0;
    text-align: center;
}

button.btn.btn-default {
    width: 100%;
    background: #0099cc;
    border: 0px;
    margin-top: 15px;
    margin-bottom: 35px;
}


div#contact-info {
    padding-top: 50px;
}
.social{
  fill:#424242;
}
.social-bkgd{
  fill:none;
  stroke:#0099CC;
  stroke-miterlimit:10;
}

div#social-media {
    width: 110px;
    margin-left: 284px;
    padding-top: 35px;
    margin-bottom: -25px;
}
#map {
  width: 100%;
  height: 300px;
  z-index: 0;
  }

div#map-column {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -225px;
}


/* Contact end *************************************************************************/